<mat-toolbar color ="primary">
  <span><a routerLink="/">FYP Football CMS</a></span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent" >New Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent" >Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent" >Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
<mat-toolbar *ngIf="userIsAuthenticated && user.username != 'na'" class="userInfo" color="accent">
  <span class="userInfoHeading"><strong> My Information </strong></span>
  <span class="userInfoContent">
    <!-- <mat-divider [vertical]="true"></mat-divider> -->
    Username: {{user.username}}<mat-divider [vertical]="true"></mat-divider>
    UserType: {{user.userType | titlecase}}<mat-divider [vertical]="true"></mat-divider>
    Role: {{user.role | titlecase}}<mat-divider [vertical]="true"></mat-divider>
    Name: {{user.name | titlecase}}
    <mat-divider [vertical]="true"></mat-divider>
    <span *ngIf="user.league !== 'undefined'">
      League: {{user.league | titlecase}}<mat-divider [vertical]="true"></mat-divider>
    </span>
    <span *ngIf="user.club !== 'undefined'">
      Club: {{user.club | titlecase}}<mat-divider [vertical]="true"></mat-divider>
    </span>
    <span *ngIf="user.team !== 'undefined'">
      Team: {{user.team | titlecase}}<mat-divider [vertical]="true"></mat-divider>
    </span>
    <span *ngIf="!user.dob && user.dob !== 'undefined'">
      Dob: {{user.dob}}<mat-divider [vertical]="true"></mat-divider>
    </span>
  </span>
</mat-toolbar>
<div *ngIf="user.userType">
  <mat-toolbar *ngIf="user.userType === 'league' && userIsAuthenticated" class="leagueInfo" color="accent">
    <span class="leagueActionsHeading"><strong> League Actions </strong></span>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/league/create" routerLinkActive="mat-primary" >Create League</a>
    </li>
  </mat-toolbar>

  <mat-toolbar *ngIf="user.userType === 'club' && userIsAuthenticated" class="clubInfo" color="warn">
    <span class="clubActionsHeading"><strong>Club Actions </strong></span>
    <ul *ngIf="userIsAuthenticated">
      <li>
        <a mat-button [routerLink]="['/club', user.userId]" routerLinkActive="mat-primary">View Club</a>
      </li>
     <!-- <li>
        <a mat-button routerLink="/club/addteam" routerLinkActive="mat-primary" >Add Team</a>
      </li> -->
    </ul>

  </mat-toolbar>


</div>
