ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a, li {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
}
li {
  list-style: none;
}

.spacer {
  flex: 1 1 auto;
}

mat-spinner {
  margin: auto;
}

.userInfo {
  text-align: center;
  display: flex;
  justify-content: center;
}

span.userInfoHeading{
  margin: auto 1em;
}

span.userInfoContent {
  display: flex;
  flex-direction: row;
}

span.userInfoContent mat-divider {
  border-right-width: 5px;
  margin-right: 0.25em;
  margin-left: 0.25em;
}

/*Club */
.clubInfo {
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
}
.clubInfo li{
  border-style: solid;
  margin: auto 0.25em;

}

/*league */
.leagueInfo {
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
}
.leagueInfo li a {
  color: black;
}
.leagueInfo li {
  border-style: solid;
  margin: auto 0.25em;
}

