<h1>Signup Forms</h1>

<mat-tab-group mat-align-tabs="center"  [selectedIndex]=2>
  <mat-tab label="Governing Body">
    <ng-template matTabContent>
      <app-govbody-signup></app-govbody-signup>
    </ng-template>
  </mat-tab>
  <mat-tab label="League">
    <ng-template matTabContent>
      <app-league-signup></app-league-signup>
    </ng-template>
  </mat-tab>
  <mat-tab label="Club">
    <ng-template matTabContent>
      <app-club-signup></app-club-signup>
    </ng-template>
  </mat-tab>
</mat-tab-group>
