<h1>Signup Process</h1>

<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form action=""
  *ngIf="!isLoading"
  (submit)="onSignup(signupForm)"
  #signupForm="ngForm"
  >
    <mat-form-field>
      <input
      matInput
      type="text"
      name="name"
      ngModel
      placeholder="Your Full Name"
      #name="ngModel"

      >
      <mat-error *ngIf="name.invalid">Please enter a valid name.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
      matInput
      placeholder="Username (enter name)"
      type="text"
      name="username"
      disabled
      ngModel
      #username="ngModel"
      > {{ generatedName }}
    </mat-form-field>


   <mat-form-field>
      <mat-label>Select User Type</mat-label>
      <mat-select

      [(ngModel)]="userType"
      name = "userType"

      >
        <mat-option *ngFor="let userType of userTypes" [value]="userType.value">
          {{userType.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select Role</mat-label>
      <mat-select

      [(ngModel)]="role"
      name = "role"

      >
        <mat-option *ngFor="let role of roles" [value]="role.value">
          {{role.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field>
      <mat-label>Select dob</mat-label>
      <input
      matInput
      [matDatepicker]="picker"
      [(ngModel)]="dob"
      name = "dob"
      >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select Club</mat-label>
      <mat-select

      [(ngModel)]="club"
      name = "club"

      >
        <mat-option *ngFor="let club of clubs" [value]="club.value">
          {{club.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select Team</mat-label>
      <mat-select

      [(ngModel)]="team"
      name = "team"

      >
        <mat-option *ngFor="let team of teams" [value]="team.value">
          {{team.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field>
      <input
      matInput
      type="password"
      name="password"
      ngModel
      placeholder="Password"
      #passwordInput="ngModel"

      >
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>


    <hr>

    <button mat-raised-button color="primary" type="submit">
      Signup
    </button>
  </form>
</mat-card>
