<h1>Signup Forms</h1>
<!--
<nav>
  <a (click)="toggleUserType('govbody')" [ngClass]="status ? 'active' : 'danger'">Governing Body Signup</a>
  <a (click)="toggleUserType('league')" [ngClass]="status ? 'active' : 'danger'">League Signup</a>
  <a (click)="toggleUserType('club')" [ngClass]="status ? 'active' : 'danger'">Club Signup</a>
  <a (click)="toggleUserType('manager')" [ngClass]="status ? 'active' : 'danger'">Manager Signup</a>
  <a (click)="toggleUserType('player')"[ngClass]="status ? 'active' : 'danger'">Player Signup</a>
</nav>


<app-govbody-signup *ngIf="showGovBodySignup"></app-govbody-signup>
<app-league-signup *ngIf="showLeagueSignup"></app-league-signup>
<app-club-signup *ngIf="showClubSignup"></app-club-signup>
<app-manager-signup *ngIf="showManagerSignup"></app-manager-signup>
<app-player-signup *ngIf="showPlayerSignup"></app-player-signup>
-->


<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Governing Body">
    <ng-template matTabContent>
      <app-govbody-signup></app-govbody-signup>
    </ng-template>
  </mat-tab>
  <mat-tab label="League">
    <ng-template matTabContent>
      <app-league-signup></app-league-signup>
    </ng-template>
  </mat-tab>
  <mat-tab label="Club">
    <ng-template matTabContent>
      <app-club-signup></app-club-signup>
    </ng-template>
  </mat-tab>
  <mat-tab label="Manager">
    <ng-template matTabContent>
      <app-manager-signup></app-manager-signup>
    </ng-template>
  </mat-tab>
  <mat-tab label="Player">
    <ng-template matTabContent>
      <app-player-signup></app-player-signup>
    </ng-template>
  </mat-tab>
</mat-tab-group>
