<h1>League Signup</h1>
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form
  [formGroup]="leagueUserForm"
  *ngIf="!isLoading"
  (ngSubmit)="onSubmit()"
  >

    <mat-form-field>
      <input
      matInput
      type="text"
      name="role"

      placeholder="Your Role"
      formControlName="role"
      >
      <mat-error *ngIf="leagueUserForm.role?.invalid">Please enter a valid role.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
      matInput
      type="text"
      name="name"

      placeholder="Your Full Name"
      formControlName="name"

      >
      <mat-error *ngIf="leagueUserForm.name?.invalid">Please enter a valid name.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
      matInput
      type="text"
      name="league"

      placeholder="Your League Name"
      formControlName="league"

      >
      <mat-error *ngIf="leagueUserForm.name?.invalid">Please enter a valid name.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
      matInput
      type="text"
      name="username"

      placeholder="Your Username"
      formControlName="username"

      >
      <mat-error *ngIf="leagueUserForm.username?.invalid">Please enter a valid username.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
      matInput
      type="password"
      name="password"

      placeholder="Password"
      formControlName="password"
      >
      <mat-error *ngIf="leagueUserForm.name?.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      Signup
    </button>

  </form>
</mat-card>
