league create
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form
  [formGroup]="leagueForm"
  *ngIf="!isLoading"
  (ngSubmit)="onSubmit()"
  >

  <mat-form-field>
    <input
    matInput
    type="text"
    name="leagueName"

    placeholder="Your Full Name"
    formControlName="leagueName"

    >
    <mat-error *ngIf="leagueForm.name?.invalid">Please enter a valid name.</mat-error>

  </mat-form-field>


 <div >
    <h3>Clubs</h3> <button (click)="addTeam()">Add Team</button>
    <div formArrayName="teamsList" *ngFor="let teamData of leagueForm.get('teamsList')['controls']; let i=index">

      <div [formGroupName]="i">

        <mat-form-field>
          <mat-label>Select Club Name</mat-label>
          <mat-select
          formControlName="clubName"
          name = "clubName"
          >
            <mat-option *ngFor="let club of clubs" [value]="club.value">
              {{club.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Select Team Name</mat-label>
          <mat-select
          formControlName="teamName"
          name = "teamName"
          >
            <mat-option *ngFor="let team of teams" [value]="team.value">
              {{team.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>


      </div>

    </div>

  </div>



  <hr>
<button type="submit">create league</button>

</form>

</mat-card>

