<h1>Club View</h1>

<mat-card>
  <mat-card-title>{{ clubName | titlecase }}</mat-card-title>
  <mat-card-subtitle>
    {{ clubId }}
    <button mat-button color="accent" (click)="refresh()"><mat-icon>refresh</mat-icon>
    </button></mat-card-subtitle>

  <!-- Team List -->
  <h5 *ngIf="teamsList.length > 0"> Team List</h5>
  <mat-accordion *ngFor="let team of teamsList; index as i">

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ team.teamName | titlecase}}
        </mat-panel-title>
        <mat-panel-description>
          {{panelOpenState ? 'close to hide details' : 'open for team details'}}
          ({{ team._id}})
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list *ngIf="teamsList[i].managers.length > 0" dense>
        <h5>Mangers:</h5>
        <mat-list-item *ngFor="let manager of teamsList[i].managers">
          <p>{{ manager | titlecase }}</p>
        </mat-list-item>
      </mat-list>
      <mat-list *ngIf="teamsList[i].coaches.length > 0" dense>
        <h5>Coaches:</h5>
        <mat-list-item *ngFor="let coach of teamsList[i].coaches">
          <p>{{ coach | titlecase}}</p>
        </mat-list-item>
      </mat-list>
      <mat-list *ngIf="teamsList[i].players.length > 0" dense>
        <h5>Players:</h5>
        <app-club-view-see-players [selectedTeam]="teamsList[i]" >
        </app-club-view-see-players>

      </mat-list>
      <mat-action-row>
        <button mat-button color="primary" (click)="addPlayerToTeamVisible=!addPlayerToTeamVisible">Add Players To Team</button>
      </mat-action-row>
      <mat-card class="addPlayerFormCard" *ngIf="addPlayerToTeamVisible">
        <app-club-view-add-player-to-team [selectedTeam]="teamsList[i]" ></app-club-view-add-player-to-team>
      </mat-card>

    </mat-expansion-panel>
  </mat-accordion>

  <!-- playersList-->
  <h5 *ngIf="playersList.length > 0"> Player List</h5>
  <mat-accordion *ngFor="let player of playersList; index as j">

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ player.playerName | titlecase}}
        </mat-panel-title>
        <mat-panel-description>
          {{panelOpenState ? 'close to hide details' : 'open for team details'}}
          ({{ player._id}})
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list *ngIf="playersList[j].teams.length > 0" dense>
        <h5>Teams:</h5>
        <mat-list-item *ngFor="let playersTeam of playersList[j].teams">
          <p>{{ playersTeam }}</p>
        </mat-list-item>
      </mat-list>
      <mat-list *ngIf="playersList[j].trainings.length > 0" dense>
        <h5>Trainings:</h5>
        <mat-list-item *ngFor="let training of playersList[j].trainings">
          <p>{{ training }}</p>
        </mat-list-item>
      </mat-list>
      <mat-list *ngIf="playersList[j].matches.length > 0" dense>
        <h5>Matches:</h5>
        <mat-list-item *ngFor="let match of playersList[j].matches">
          <p>{{ match }}</p>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-action-row>
    <button mat-button color="primary" (click)="addTeamForms()">Add New Team</button>
    <button mat-button color="primary" (click)="addPlayerForms()">Add New Player</button>
  </mat-action-row>
</mat-card>
<mat-card class="addTeamFormCard" *ngIf="addTeamCounter > 0">
  <app-club-view-add-team *ngFor="let i of [].constructor(addTeamCounter)" ></app-club-view-add-team>
</mat-card>
<mat-card class="addPlayerFormCard"  *ngIf="addPlayerCounter > 0">
  <app-club-view-add-player *ngFor="let i of [].constructor(addPlayerCounter)" ></app-club-view-add-player>
</mat-card>
