<h1>Club View</h1>
<h2>Club Name: <span>{{ clubName }} </span></h2>
<h2>Club id: <span>{{ clubId }}</span></h2>

<mat-card>
  <mat-card-title>{{ clubName }}</mat-card-title>
  <mat-card-subtitle>{{ clubId }}</mat-card-subtitle>

  <mat-accordion *ngFor="let team of teamsList">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ team.teamName }}
        </mat-panel-title>
        <mat-panel-description>
          {{panelOpenState ? 'close to hide details' : 'open for team details'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-action-row>
    <button mat-button color="primary" (click)="addTeam()">Add Team</button>

  </mat-action-row>
</mat-card>
