:host {
  display: block;
  margin-top: 1rem;
}
.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.post-image {
  max-width: 90%;
  text-align: center;
}

.post-image img{
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.globalPost {
  background-color: #ffd740;

}

.clubPost {
  background-color: lightblue;

}

mat-panel-description {
  display: inline;
  text-align: right;
}
